<a href="https://colab.research.google.com/github/cathrine36/ML_algorithms/blob/master/RandomForest_Classifier_Car_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/soaicbe/ml/master/car_data/car.data',names=['buying','maint','doors','persons','lug_boot','safety','class'])
data

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [ ]:
data['class'].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [ ]:
data[data['doors'] == '4']

     buying  maint doors persons lug_boot safety  class
54    vhigh  vhigh     4       2    small    low  unacc
55    vhigh  vhigh     4       2    small    med  unacc
56    vhigh  vhigh     4       2    small   high  unacc
57    vhigh  vhigh     4       2      med    low  unacc
58    vhigh  vhigh     4       2      med    med  unacc
...     ...    ...   ...     ...      ...    ...    ...
1696    low    low     4    more      med    med   good
1697    low    low     4    more      med   high  vgood
1698    low    low     4    more      big    low  unacc
1699    low    low     4    more      big    med   good
1700    low    low     4    more      big   high  vgood

[432 rows x 7 columns]

In [ ]:
data['safety'].unique()

array(['low', 'med', 'high'], dtype=object)

In [ ]:
data[data['doors'] == '3'].count()

buying      432
maint       432
doors       432
persons     432
lug_boot    432
safety      432
class       432
dtype: int64

In [ ]:
data.dropna()

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [ ]:
data.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [ ]:
data.describe()

       buying maint doors persons lug_boot safety  class
count    1728  1728  1728    1728     1728   1728   1728
unique      4     4     4       3        3      3      4
top       med   med     2    more    small    med  unacc
freq      432   432   432     576      576    576   1210

In [ ]:
data['class'],class_names = pd.factorize(data['class'])

print(class_names)

Index(['unacc', 'acc', 'vgood', 'good'], dtype='object')

In [ ]:
print(data['class'].unique())

[0 1 2 3]

In [ ]:
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low      0
1  vhigh  vhigh     2       2    small    med      0
2  vhigh  vhigh     2       2    small   high      0
3  vhigh  vhigh     2       2      med    low      0
4  vhigh  vhigh     2       2      med    med      0

In [ ]:
data_backup = data.copy()
data_backup.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low      0
1  vhigh  vhigh     2       2    small    med      0
2  vhigh  vhigh     2       2    small   high      0
3  vhigh  vhigh     2       2      med    low      0
4  vhigh  vhigh     2       2      med    med      0

In [ ]:
data['buying'],_ = pd.factorize(data['buying'])
data['maint'],_ = pd.factorize(data['maint'])
data['doors'],_ = pd.factorize(data['doors'])
data['persons'],_ = pd.factorize(data['persons'])
data['lug_boot'],_ = pd.factorize(data['lug_boot'])
data['safety'],_ = pd.factorize(data['safety'])

data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0      0
1       0      0      0        0         0       1      0
2       0      0      0        0         0       2      0
3       0      0      0        0         1       0      0
4       0      0      0        0         1       1      0

In [ ]:
X = data.iloc[:,0:-1]
y = data.iloc[:,-1]

# X = data.iloc[:,0:6]
# y = data.iloc[:,6]

In [ ]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
X.columns

Index(['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'], dtype='object')

In [ ]:
from sklearn import tree, metrics
dtree = tree.DecisionTreeClassifier(criterion='gini') # entrophy or gini
dtree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
y_train_pred = dtree.predict(X_train)

accuracy = metrics.accuracy_score(y_train, y_train_pred)
print('Train accuracy: {:.2f}'.format(accuracy))

Train accuracy: 1.00

In [ ]:
y_pred = dtree.predict(X_test)

accuracy = metrics.accuracy_score(y_test, y_pred)
print('Test accuracy: {:.2f}'.format(accuracy))

Test accuracy: 0.98

In [ ]:
from sklearn.ensemble import RandomForestClassifier
forest=RandomForestClassifier(n_estimators=100)
forest.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_train_pred = forest.predict(X_train)

accuracy = metrics.accuracy_score(y_train, y_train_pred)
print('Train accuracy: {:.2f}'.format(accuracy))

Train accuracy: 1.00

In [ ]:
y_pred = forest.predict(X_test)

accuracy = metrics.accuracy_score(y_test, y_pred)
print('Test accuracy: {:.2f}'.format(accuracy))

Test accuracy: 0.97