<a href="https://colab.research.google.com/github/cathrine36/ML_algorithms/blob/master/Titanic_Survival_Prediction_LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_train = pd.read_csv("https://raw.githubusercontent.com/soaicbe/ml/master/titanic/train.csv")
df_test = pd.read_csv("https://raw.githubusercontent.com/soaicbe/ml/master/titanic/test.csv")

In [ ]:
df_train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
dataset = df_train[['Pclass', 'Sex', 'Age', 'Survived']]
print("Total ", len(dataset))
print(dataset.isnull().sum())

Total  891
Pclass        0
Sex           0
Age         177
Survived      0
dtype: int64

In [ ]:
dataset = dataset.dropna()
print(len(dataset))

714

In [ ]:
gender_map = {'male':0, 'female':1}
dataset['Sex'] = dataset.Sex.map(gender_map)

In [ ]:
dataset.head()

   Pclass  Sex   Age  Survived
0       3    0  22.0         0
1       1    1  38.0         1
2       3    1  26.0         1
3       1    1  35.0         1
4       3    0  35.0         0

In [ ]:
dataset.corr()

            Pclass       Sex       Age  Survived
Pclass    1.000000 -0.155460 -0.369226 -0.359653
Sex      -0.155460  1.000000 -0.093254  0.538826
Age      -0.369226 -0.093254  1.000000 -0.077221
Survived -0.359653  0.538826 -0.077221  1.000000

In [ ]:
x=dataset[['Pclass','Sex','Age']]
y=dataset.Survived

1. Create Test Train Split

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [ ]:
x_train.head()

     Pclass  Sex   Age
387       2    1  36.0
685       2    0  25.0
20        2    0  35.0
331       1    0  45.5
396       3    1  31.0

In [ ]:
y_train.head()

387    1
685    0
20     0
331    0
396    0
Name: Survived, dtype: int64

2. Build a Log Reg Model with pipeline with Standard Scalar using train data

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
pipe=Pipeline([('scalar',StandardScaler()),('model',LogisticRegression(multi_class='multinomial'))])

In [ ]:
pipe.fit(x_train,y_train)

Pipeline(memory=None,
         steps=[('scalar',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('model',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='multinomial', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

3. Calculate Score for test data

In [ ]:
pipe.score(x_test,y_test)

0.8461538461538461

4. Print model metrics (f1 score, accuracy, etc)

In [ ]:
from sklearn.metrics import confusion_matrix
metric=confusion_matrix(y_test,pipe.predict(x_test))
metric

array([[68, 11],
       [11, 53]])

In [ ]:
from sklearn.metrics import f1_score
fm=f1_score(y_test,pipe.predict(x_test))
fm

0.828125

In [ ]:
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(y_test,pipe.predict(x_test))

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:664: FutureWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  FutureWarning)

0.8461538461538461